div.logo {
	display: block;
    position: absolute;
    justify-content: space-around;
    top: 1%;
    margin: 10% 5% 10% 5%;
    width: 90%;
    z-index: 10;
}

div#logoicon {
	display: flex;
	justify-content: center;
	margin-top: 35%;
	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease;
	transition-delay: 6s;
	animation: jikeleza 6s infinite linear;
}

img#iconImage {
	 width: 150px;
	 height: 150px;
}

@keyframes jikeleza {
	25% {
		transform: rotate(90deg);
	}

	50% {
		transform: rotate(180deg);	
	}

	75% {
		transform: rotate(270deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

div#logoText {
	width: 100%;
	height: 100%;
}

svg#logoName {
	width: 100%;
    margin: 0% 0% -20% 7%;
}

svg#logoSurname {
	transition: all 2s ease-in-out; 
	width: 100%;
    margin: 8% 0% -40% -13%
}

svg#logoName path, svg#logoSurname path {
	stroke-width: 3;
	font-size: 48px;
	-webkit-text-stroke-color: black;

}

svg#logoName path:nth-child(1) {
	stroke-dasharray: 359px;
	stroke-dashoffset: 359px;
	animation: crawl 10s ease forwards 1.1s;
}

svg#logoName path:nth-child(2){
	stroke-dasharray: 203px;
	stroke-dashoffset: 203px;
	animation: crawl 10s ease forwards 0.1s;
}

svg#logoName path:nth-child(3) {
	stroke-dasharray: 199px;
	stroke-dashoffset: 199px;
	animation: crawl 10s ease forwards 0.7s;
}

svg#logoName path:nth-child(4) {
	stroke-dasharray: 187px;
	stroke-dashoffset: 187px;
	animation: crawl 10s ease forwards 0.3s;
}

svg#logoName path:nth-child(5) {
	stroke-dasharray: 225px;
	stroke-dashoffset: 225px;
	animation: crawl 10s ease forwards 1s;
}

svg#logoSurname path:nth-child(1) {
	stroke-dasharray: 273px;
	stroke-dashoffset: 273px;
	animation: crawl 10s ease forwards 0.5s;
}

svg#logoSurname path:nth-child(2) {
	stroke-dasharray: 116px;
	stroke-dashoffset: 116px;
	animation: crawl 10s ease forwards 1.6s;
}

svg#logoSurname path:nth-child(3) {
	stroke-dasharray: 199px;
	stroke-dashoffset: 199px;
	animation: crawl 10s ease forwards 0.7s;
}

svg#logoSurname path:nth-child(4) {
	stroke-dasharray: 284px;
	stroke-dashoffset: 284px;
	animation: crawl 10s ease forwards 1s;
}

svg#logoSurname path:nth-child(5) {
	stroke-dasharray: 225px;
	stroke-dashoffset: 225px;
	animation: crawl 10s ease forwards 0.4;
}

svg#logoSurname path:nth-child(6) {
	stroke-dasharray: 199px;
	stroke-dashoffset: 199px;
	animation: crawl 10s ease forwards 1.0s;
}

svg#logoSurname path:nth-child(7) {
	stroke-dasharray: 219px;
	stroke-dashoffset: 219px;
	animation: crawl 10s ease forwards 1.4s;
}

@keyframes crawl {
	to {
		stroke-dashoffset: 0px;
    	fill: cornflowerblue;
    	fill-rule: evenodd;
	}
}

@media screen and (max-width: 2560px){
	svg#logoName {
		width: 75%;
		height: 100%;
		margin: -22% 0% 0% 25%;
		position: absolute;
	}

	svg#logoSurname {
	    width: 130%;
	    height: 100%;
	    margin: -10% 0% -52% -38%;
	}

	img#iconImage {
		width: 350px;
		height: 350px;
	}

	div#logoicon {
		margin-top: 24%;
	}
}

@media screen and (max-width: 1440px){
	svg#logoName {
		width: 70%;
	    left: 13%;
	    margin: -30% 0% -18% 12%;
	    position: absolute;
	}

	svg#logoSurname {
	    width: 134%;
    	margin: -10% 0% -36% -41%;
	}

	img#iconImage {
		width: 250px;
    	height: 250px;
	}

	div#logoicon {
		margin-top: 10%;
	}	
}
    ;
@media screen and (max-width: 1024px){
	svg#logoName {
		width: 69%;
		margin: -1% 0% -20% 13%;
	}

	svg#logoSurname {
		width: 135%;
		margin: 0% 0% -43% -41%;
	}

	div#logoicon {
		margin-top: 42%;
	}
}

@media screen and (max-width: 768px){
	svg#logoName {
		width: 70%;
		    left: 20%;
		    margin: -4% 0% -18% 5%;
		    position: absolute;
	}

	svg#logoSurname {
        width: 150%;
        margin: 8% 0% -46% -53%;
    }

    div#logoicon {
		margin-top: 37%;
	}
}

@media screen and (max-width: 425px){
    svg#logoSurname {
		width: 140%;
    	margin: 12% 0% -7% -45%;
	}

	div.logo {
		margin: 2% 5% 10% 5%;
	}

	div#logoicon {
		    margin-top: 0%;
	}
}

@media screen and (max-width: 320px){
	svg#logoName {
		width: 90%;
    	margin: 10% 0% -34% 20%;
	}

    svg#logoSurname {
		width: 158%;
		margin: 12% 0% -7% -55%;
	}

	div.logo {
		margin: 2% 5% 10% 5%;
	}

	div#logoicon {
		    margin-top: 0%;
	}
}